body {
  background: #fff;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 90px;
  background-color: #485461;
  background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);

}

html {
  position: relative;
  min-height: 100%;
}

.navbar-custom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: rgba(0, 0, 0, 0.125);
}

.link-custom {
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
  letter-spacing: 0.2em;
  font-size: 0.8rem;
}

.header {
  background: #fafafa;
  width: 100%;
  min-height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: center;
}
.header-title {
  padding-top: 40px;
}
.header-text {
  color: #aaa;
  padding-top: 50px;
  font-size: 25px;
}

.profile-img {
  height: 200px;
  width: 200px;
}

.footer {
  position: absolute;
  padding-top: 20px;
  bottom: 0;
  height: 90px;
  width: 100%;
  color: #aaa;
}

.footer-message {
  text-align: center;
}
.footer-social {
  text-align: center;
  font-size: 25px;
}

.footer-social a {
  color: #aaa;
  padding: 0px 3px 0px 3px;
}
.footer-social a:hover {
  color: blue;
}

.img-project {
  width: 250px;
  height: 250px;
}

.item-title {
  color: #fff;
  font-weight: bolder;
  text-align: center;
  font-size: 25px;
}

.item-li{
  color: #aaa;
  font-size: 20px;
}
.skill-background {
  background-color: #485461;
background-image: linear-gradient(315deg, #485461 0%, #28313b 74%);
}
.border {
  border: 2px transparent
}

.card-text-custom {
  color: #aaa;
}