body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 60px;
}

html {
    position: relative;
    min-height: 100%;
}

.navbar-custom {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(0,0,0,.125);
    
}

.link-custom{
    text-transform: uppercase;
    padding-top: 1rem;
    padding-bottom: 1rem;
    letter-spacing: .2em;
    font-size: 0.80rem;
}

.header {
    background: #fafafa;
    width: 100%;
    min-height: 100%;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 30px;
    padding-bottom: 30px;
    text-align: center;
}
.header-title {
    padding-top: 40px;
}
.header-text {
    color: #aaa;
    padding-top: 50px;
    font-size: 25px;
    
}

.profile-img {
    height: 200px;
    width: 200px;
    
}

.footer {
    position: absolute;
    margin-top: 10px;
    bottom: 0;
    height: 50px;
    width: 100%;
    color: #aaa;
}

.footer-border {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(0,0,0,.125);

}

.footer-message {
    text-align: center;
}
.footer-social {
    text-align: center;
    font-size: 25px;
}

.footer-social a {
    color: #aaa;
    padding: 0px 3px 0px 3px;
}
.footer-social a:hover {
    color: blue;
}

.img-project {
    width: 250px;
    height: 250px;
    
}


