{% extends 'base.html' %}
{%load static %}
{% block head_content %}
    <title>Contact</title>
{% endblock %}

{% block header %}
     <header class="header header-title">
       <h1 class="ml11 vertical-center">
            <span class="text-wrapper">
                <span class="line line1"></span>
                <span class="letters">Contact me</span>    
            </span>
        </h1>

        <p class="header-text">Tell me something!</p>
    </header>
{% endblock %}
{%block container %}

    <h1 class="ml11">For opinions, suggestions or JOB OFFERS</h1>
    <p class="header-text">Say Hi.</p>
    <br>
    <div class="row">    
        <div class="col-md-6">
            <div class="card mb-4 skill-background">
              <ul class="list-group list-group-flush skill-background ">
                <li class="list-group-item item-li skill-background ">Github  
                    <a href="https://github.com/ciscodea" data-hint="Github">
                    <i class="fab fa-github-square"></i>
                    </a>
                </li>
                <li class="list-group-item item-li skill-background ">LinkedIn  
                    <a href="https://www.linkedin.com/in/pedro-luis-l%C3%B3pez-oviedo-626841206/" data-hint="LinkeIn">
                    <i class="fab fa-linkedin"></i>
                    </a>
                </li>
            </ul>
              
                <div class="card-body">
                    <form action="#" method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
                    <div class="row">
                        <div class="col-md-12">
                            <button type="submit" class="btn main-btn pull-right">Send a message</button>
                        </div>
                    </div>
                </div>
            </form>
                </div> 
            </div>
             <div class="col-md-6">
                <div class="text-center">
                    <img class="rocket-img" src="{%static 'img/rocket.png'%}" alt="rocket">
                </div>
                
             </div>
        </div>

       
       
   
    </div>
   
   
{% endblock %}