{% extends 'base.html' %}

{% block head_content %}
    <title>Pedro López Oviedo</title>
{% endblock %}

{% block header %}
    <header class="header header-title">
       <h1 class="ml11">
            <span class="text-wrapper">
                <span class="line line1"></span>
                <span class="letters">Hello World!</span>           
            </span>
        </h1>
         <p class="header-text">I am Pedro. <br> A Software Engineer fullstack web developer!</p>
    </header>
{% endblock %}
{%block container %}

{% endblock %}