{% extends 'base.html' %} 
{% load static %} 

{% block head_content %}
  <title>Pedro López Oviedo</title>
{% endblock %} 

{% block header %}
<header class="header header-title">
  <div class="row">
    <div class="col-md-6 col-xl-6">
      <img
        class="rounded-circle profile-img img-thumbnail"
        src="{% static 'img/profile.jpg' %}"
        alt=""
      />
    </div>
    <div class="col-md-6 col-xl-6">
      <h1 class="ml11">
        <span class="text-wrapper">
          <span class="line line1"></span>
          <span class="letters">Hello World!</span>
        </span>
      </h1>
      <p class="header-text">
        I am Pedro. <br />
        A Software Engineer Back End developer!
      </p>
    </div>
  </div>
</header>

{% endblock %} 

{%block container %} 
  <h2 class="ml11">These are some of my skills <i class="fas fa-rocket"></i></h2>
    <br>
   
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group list-group-flush skill-background ">
      <li class="list-group-item item-title skill-background ">Back-end <i class="fab fa-python"></i></li>
      <li class="list-group-item item-li skill-background ">Django 
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 75%; background: #aaa;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </li>
      <li class="list-group-item item-li skill-background ">Flask 
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%; background: #aaa;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </li>
      </ul>
   
    </div>
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>

    <div class="col-md-6">
      <ul class="list-group list-group-flush skill-background">
        <li class="list-group-item item-title skill-background">Front-end <i class="fab fa-js"></i></li>
        
        <li class="list-group-item item-li skill-background">Javascript
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%; background: #aaa;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li class="list-group-item item-li skill-background">Css3
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%; background: #aaa;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
        <li class="list-group-item item-li skill-background">Bootstrap
          <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%; background: #aaa;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </li>
    </ul>
    
    </div>

    
    <div class="col-md-6">
      <ul class="list-group list-group-flush">
      <li class="list-group-item list item-title skill-background">Ohers <i class="fas fa-brain"></i></li>
      <li class="list-group-item item-li skill-background">Python 
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 80%; background: #aaa;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </li>
      <li class="list-group-item item-li skill-background">Javascript 
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%; background: #aaa;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </li>
      <li class="list-group-item item-li skill-background">PHP 
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%; background: #aaa;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </li>
      <li class="list-group-item item-li skill-background">Java
           <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%; background: #aaa;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </li>
      <li class="list-group-item item-li skill-background">MySQl
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%; background: #aaa;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </li>
      <li class="list-group-item item-li skill-background">Git & Github
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 80%; background: #aaa;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </li>
    </ul>
    </div>

    <div class="col-md-6"></div>
    <div class="col-md-6"></div>

    <div class="col-md-6">
      <ul class="list-group list-group-flush skill-background ">
      <li class="list-group-item item-title skill-background ">Cloud <i class="fas fa-terminal"></i></li>
      <li class="list-group-item item-li skill-background ">Heroku 
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 50%; background: #aaa;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </li>

       <li class="list-group-item item-li skill-background ">Google Cloud 
         <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: 60%; background: #aaa;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
      </li>
      </ul>
   
    </div>
    
  </div>
{% endblock %}
